
/*----------------------------------------------
CSS Settings
------------------------------------------------*/

@font-face {
    font-family: Verdana;
    src: url(../fonts/Verdana.ttf);
}


*{margin:0;padding:0;}
*html{margin:0px; padding:0px;}
html{margin:0px; padding:0px;}
html{height:100%;}


body{
	margin:0px;
	padding:0px;
	font-size:17px;
	color:#333333; 
    font-family: Arial;
	 }

#main {
    width:960px;
    margin:50px auto;  
}

#middle__container{width:93%; height:auto; margin:0px auto;padding: 20px 0;}
.container{ margin-top:20px;width:100%;}
.container .half{
	width:50%;
	float:left;
}
.container .half.right{
	float:right;
}

.container .half div.detail{
	font-size: 12px;
	color: red;
	padding: 10px 0;
}
span {
    color:red
}


.link_1 a:link {Font-Family:Verdana; color: #333333; text-decoration: none; font-size: 12px; padding:5px;}
.link_1 a:visited { color: #333333;  padding:5px;}
.link_1 a:active { color: #333333;  padding:5px;}
.link_1 a:hover {color: #666666;  padding:5px;}


.add_new{Font-Family:Verdana; color: #333333; text-decoration: none; font-size: 12px; margin-top:9px; margin-right:10px;}



#tabs {
    float:left;
    width:100%;
    font-size:93%;
    border-bottom:1px solid #bcbdbe;
    line-height:normal; background-color:#eeeff0;
}

#tabs ul {
    margin:0;
    padding:10px 10px 0 50px;
    list-style:none;
}

#tabs li {
    display:inline;
    margin:0;
    padding:0; font-size:12px; color:#1c1c1c;
}

#tabs a {
    float:left;
    background: url(../image/tableft.gif) no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}

#tabs a span {
    float:left;
    display:block;
    background:url(../image/tabright.gif) no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#1c1c1c;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
    color:#000;
}

#tabs a:hover {
    background-position:0% -42px;
}

#tabs a:hover span {
    background-position:100% -42px;
}




h2 {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 20px;
}
hr {
    /* border:0;
     border-bottom:1px solid #ccc;
     margin:10px -40px;
     margin-bottom:30px;
     width: 100%;*/
}
#login {
    width:300px;
    /*float:left;*/
    border-radius:10px;
    font-family:Verdana;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    /*margin-top:150px ;*/
	margin:70px auto;
	background-color:#666;
	color:#fff;
	box-shadow: 3px 3px 7px 2px #c6c6c6;
	border: solid 5px;
}
input[type=text],input[type=password] {
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-family:Verdana;
	margin-bottom:10px;
}
input[type=submit] {
    width:auto;
    background-color:#ed8129;
    color:#fff;
    border:2px solid #ed8129;
    padding:8px 10px;
    font-size:14px;
    cursor:pointer;
    /*border-radius:5px;*/
    margin-bottom:15px; margin-top:10px;
	border: solid 2px;
}
span.error {
    color: #A00404;
    font-size: 13px;  
}


input[type=submit]:hover{

    background-color:#fb7305;

    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition:background-color 1s ease;

}

.noemailstats {
    width: 100%;
    float: left;
    margin-top: 20px;
    color: #ed8129;
    min-height: 400px;
    text-align: center;
    /* background: #ed8129; */
    font-weight: 700;
	font-family: Arial;
}



.left__profile{width:50%; float:left;}
.right__profile{width:50%; float:right; text-align:right;}


#profile {
    padding:30px 50px;
    font-size:20px;
    background-color:#eeeff0; 
}
#logout {
    float:right;
    padding:5px;
    border:dashed 1px gray;
}
a {
    text-decoration:none;
    color:#6495ed;
}
i {
    color:#6495ed;
}






.i2Style__newbtn a:link{
    font:normal 13px Arial;
    font-style:normal;
    color:#1c1c1c;
  width:auto;
    background-color:#ed8129;
    color:#fff;
    border:2px solid #ed8129;
    padding:10px;
    font-size:14px;
    cursor:pointer;
    border-radius:5px;
    
    margin:0 auto;
}
.i2Style__newbtn a:active{
    font:normal 13px Arial;
    font-style:normal;
    color:#1c1c1c;
   width:auto;
    background-color:#ed8129;
    color:#fff;
    border:2px solid #ed8129;
    padding:10px;
    font-size:14px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}
.i2Style__newbtn a:visited{
    font:normal 13px Arial;
    font-style:normal;
    color:#1c1c1c;
   width:auto;
    background-color:#ed8129;
    color:#fff;
    border:2px solid #ed8129;
    padding:10px;
    font-size:14px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}
.i2Style__newbtn a:hover{
    
    font-style:normal;
    color:#1c1c1c;
    background-color:#fb7305;

    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition:background-color 1s ease;
    width:auto;
    padding:10px;
    cursor:pointer;
    margin:0 auto;
}


#footer{
	width: 100%;
	font-size: 12px;
	padding: 10px 0;
}

.welcome{width:100%; height:auto;}

.cls{clear:both;}

.paddt150{padding-top:150px;}

.setting_form{
	width:100%;
}
.setting_form table{
	width: 90%;
}
.setting_form table .full{
	width: 100%;
}
td{ font-size:12px;}
input[type="text"], input[type="email"],input[type=password]{font-size:12px; font-family:Verdana; color:#1c1c1c;}


textarea.form-control{ width:65%;}

.paddtb10{padding-bottom:10px; padding-top:10px;}

select { width:100%; height:34px; border:1px solid #cccccc;}

.top-tabed{background: url(../image/top-tabed.gif) repeat-x left top; height:33px; width:100%; margin-top:5px;
           border-radius:5px 5px 5px 5px;
           -moz-border-radius:5px 5px 5px 5px;
           -webkit-border-radius:5px 5px 5px 5px;}


.autoresponder__left_main{width:50%; float:left; height:auto; margin-top:20px;}

.new-autoresponder__right_main{width:50%; float:right; height:auto; margin-top:20px;}

.top-bg-color{ background-color:#dfe1e2; padding:5px;}

th{ padding:6px;}
.padd5{padding-bottom:5px;}
.marb5{margin-bottom:5px;}
.text_new_mm{padding-bottom:15px; color:#666666;}

#select option { 
    width:100%
}


.text-orangr{ color:#fb7305; font-weight:bold;font-family: Arial;}

.mart20{ margin-top:20px;}

.edit-icon{ background:url(../image/edit-icon.png) no-repeat center top; background-color:none; border:0px none; width:20px; height:20px; cursor:pointer;}

.delete-icon{ background:url(../image/delete-icon.png) no-repeat center top; background-color:none; border:0px none; width:15px; height:20px; cursor:pointer;}


.icons{padding:5px 0;
       text-align:center;}


/* custom css by nipun */ 
.table-outer{
    /*  box-shadow: 10px 10px 5px #888888;*/
/*    border: 1px solid #bf5f00;*/
     -moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px; 

}

table.email-templates {
    border: solid 1px #c6c6c6;

    background-color: #ff7f00;
  -moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px; 
   
   
   
   
}
table.email-templates tr:first-child{color: #fff;font-size: 13px; }

.email-templates tr.grey {background-color: #fff;}

.email-templates tr.orange {background-color: #ffd4aa;}

.email-templates tr td{padding:8px 10px 6px 10px;border: 1px solid #bf5f00;}

.email-templates tr th{padding:8px 10px 6px 10px; 
font-family: Arial;
}

.email-templates tr td.icons {width: 90px;} 

h1{ font-size: 18px;font-family: Arial;}
b, h2{font-family: Arial;}

.bottom-bdr-none{ border-bottom: 0px none !important;}
.left-bdr-none{ border-left:0px none !important;}
.right-bdr-none{ border-right:0px none !important;}

.update-message{color: green;
    font-size: 13px;
    font-weight: bold;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    text-align: center !important;
    text-decoration: underline;
    top: 148px;
    width:96%; margin-bottom: 15px !important;}

.update-error-message{color: red;
    font-size: 13px;
    font-weight: bold;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    text-align: center !important;
    text-decoration: underline;
    top: 148px;
    width:96%; margin-bottom: 15px !important;}



ul.pagination {
    text-align:center;
    color:#829994;
}
ul.pagination li {
    display:inline;
    padding:0 3px;
}
ul.pagination a {
    color:#333333;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #cde0dc;
    text-decoration:none;
}
ul.pagination a:hover,
ul.pagination a.current {
    background:#333333;
    color:#fff;
}




/*CSS BY RAMAN---DEC20,2014*/
.full_width{
width:100%; float:right; height:auto; margin-top:20px;
}


.th_bg{ background-color:#fb7305; padding:5px;}

.th_bg th{ padding:10px 80px;}
.padd5{padding:5px;}
.marb5{margin-bottom:5px;}
.text_new_mm{padding-bottom:15px; color:#666666;}
.pagination a{
        padding: 5px ; 
}


.logo{
	margin-left:260px;
	margin-top:70px;	
}
